*.class
*.log
*.las
*.ply

src/test/resources


# sbt specific
.cache
.cache-*
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.project
.settings/
.classpath
metastore_db/

# Scala-IDE specific
.scala_dependencies
.worksheet
/bin
.idea
